/* _config.scss */

/**
 * Grid Settings
 * Width settings for media queries in pixels
 * REQUIRED: All
 */
$widescreen             : 1280;
$desktop                : 980;
$tablet                 : 768;
$mobile-landscape       : 480;
$mobile-portrait        : 320;
$mobile                 : $mobile-landscape;

$columns                : 12;
$margin                 : 10px;
$padding                : 10px;

$responsive             : true;
$from-direction         : left;


/**
 * Colors
 * Colors of various elements as per style guide
 * REQUIRED: $colorPrimary<>, $colorSecondary<>, $colorTextDefault
 */


// BLUES
$colorPrimary:              #3eaecc;
$colorPrimaryDark:          #157eaa;
$colorPrimaryLight:         #d5e3e7;

// REDISH PINK
$colorSecondary:            #f15966;
$colorSecondaryDark:        #f28d95;
$colorSecondaryLight:       #f28d95;

// GRAYS
$colorGray:                 #cccccc;
$colorGrayDark:             #383c3e;
$colorGrayLight:            #e6e6e6;

// WHITES
$colorOffwhite:             #f0f0f0;

// TEXT
$colorTextBody:             #4a3c32;
$colorTextDefault:          #4a3c32;
$colorTextHeadingAlt:       #f1f0e8;
$colorTextGray:             #a3a3a3;

// RAINBOW
$colorBrown:                #4a3c32;
  $colorBrownLight:         #807870;
$colorRed:                  #c5350a;
$colorOrange:               #fd4c1a;
$colorYellow:               #fd8728;
  $colorYellowLight:        #f8af41;
$colorTeal:                 #77b191;
$colorGreen:                #419483;


/**
 * Font Sizes
 * Headings, Paragraphs and other common elements
 */
 $fontSizeHeading1:         55px;
 $fontSizeHeading2:         45px;
 $fontSizeHeading3:         34px;
 $fontSizeHeading4:         28px;
 $fontSizeHeading5:         21px;
 $fontSizeHeading6:         18px;



/**
 * Compass Settings
 * Flags for compass
 */
$experimental-support-for-svg: true;



/**
 * Font Settings
 * Shortened variable names for font families for degradation convenience
 */
$default      :  "adobe-caslon-pro", "Adobe Caslon Pro", Georgia, serif;
$default-alt  :  "brothers-ot", "BrothersOT", Helvetica, "Helvetica Neue", sans-serif;
$serif        :  Georgia, serif;
$serif-alt    :  "adobe-caslon", "Adobe Caslon" serif;
$fa           :  "fontawesome";