/* _mixins.scss */

@import "lib/xbc";


/* ================================================================ */
/*                                                                  */
/*                        CUSTOM FUNCTIONS                          */
/*                                                                  */
/* ================================================================ */

/**
 * em()
 * -------------
 * Calculate em value from pixels factoring in base font size (16px)
 */
@function em($target, $context: 16px) {
   @if $target == 0 { @return 0 }
   @return $target / $context + 0em;
}

/**
 * strip-unit()
 * Strip a value that has units to be just the integer.
 */
@function strip-unit($num) {
  @return $num / ($num * 0 + 1);
}

/**
 * calculate-rem()
 * Calcualte the rem value using base 16px font sizing.
 */
@function calculate-rem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}
  // Related Mixin
  @mixin font-size-rem($size) { font-size: $size; font-size: calculate-rem($size); }

@function ffw_hover_lighten($hex) {
   @return lighten( desaturate( adjust-hue( $hex, 1deg ), 15 ), 10 );
}
@function ffw_hover_darken($hex) {
   @return darken( saturate( $hex, 2 ), 7 )
}



/* ================================================================ */
/*                                                                  */
/*                          CUSTOM MIXINS                           */
/*                                                                  */
/* ================================================================ */


/* VERTICAL ALIGN
================================================== */
@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

/* BORDER RADIUS
================================================== */
@mixin border-radius($values) {
  -webkit-border-radius: $values;
     -moz-border-radius: $values;
          border-radius: $values;
}

/* TRANSPARENT BACKGROUND
================================================== */
@mixin transparent-bg($color:#000000,$alpha:.15,$r:0,$g:0,$b:0) {
  $rgba: rgba($color, $alpha);
  $ie-hex-str: ie-hex-str($rgba);
  background-color: transparent;
  background-color: $rgba;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#{$ie-hex-str},endColorstr=#{$ie-hex-str});
  zoom: 1;
}


/* UL-BLANK
================================================== */
@mixin ul-blank() {
  margin:0;padding:0;
  list-style-type:none;

  li {margin:0;padding:0;}
}

/* INLINE-BLOCK
================================================== */
@mixin inline-block( $lh_inherit:true ) {
  display: -moz-inline-stack;display: inline-block;zoom: 1;*display: inline;
  
  @if $lh_inherit == true {
    // line-height:inherit;
  }
}

/* HEIGHTS / WIDTHS
================================================== */
@mixin heights($height:auto,$important:'') {
  
  @if $important == '' or $important == null {
    height:$height;min-height:$height;max-height:$height;
  }
  @if $important == 'important' or $important == '!' {
    height:$height !important;min-height:$height !important;max-height:$height !important;
  }
}

@mixin widths($width:auto,$important:'') {
  
  @if $important == '' or $important == null {
    width:$width;min-width:$width;max-width:$width;
  }
  @if $important == 'important' or $important == '!' {
    width:$width !important;min-width:$width !important;max-width:$width !important;
  }
}


/* SLIDER HEIGHTS
================================================== */
@mixin slider_heights( $height:600 ) {
  .flex-viewport, 
  ul.slides, 
  ul.slides li, 
  ul.slides li .container,
  ul.slides li .slide-overlay { height:$height; }
}



/* BACKFACE VISIBILITY FIX
/* apply to elements with flicker bug on transform
================================================== */
@mixin backface($visibility: hidden){
  -webkit-backface-visibility: $visibility;
  // -moz-backface-visibility:    $visibility;
  -ms-backface-visibility:     $visibility;
}


/* BG-SHORTHAND
================================================== */
@mixin bg(
  $image:     '',
  $repeat:    no-repeat,
  $position:  0 0,
  $size:      auto auto,
  $color:     transparent
) {

  @if $image == false or $image == '' {
    // nothing
  } @else {
    background-image:     url(#{$image});
  }

  @if $size == 'cover' {
    @include background-size(cover);
  } @else {
    background-size:      $size;  
  }

    background-repeat:    $repeat;
    background-position:  $position;
    background-color:     $color;
}

/* BG DEFAULTS (similar to above)
================================================== */
@mixin bg-defaults(
  $bg-color:      transparent,
  $bg-position:   0 0,
  $bg-repeat:     no-repeat,
  $bg-size:       100% auto
) {
  background-color:$bg-color;
  background-position: $bg-position;
  background-size: $bg-size;
  background-repeat: $bg-repeat;
}

@mixin bg-img($bg-url) {
  background-image:url($bg-url);
}

@mixin bg-base64($base64string){
  background-image:url('data:image/png;base64,#{$base64string}');
}


/* UL BASE64 LI
================================================== */
@mixin base64-li(
  $li-margin:   0 0 .2em 0,
  $li-padding:  26px,
  $li-bgbase64: 'iVBORw0KGgoAAAANSUhEUgAAAA4AAAAKCAYAAACE2W/HAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyRpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNiAoTWFjaW50b3NoKSIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDo5ODdGMkQ2RkYyM0IxMUUyQkM0QUE1QTZGQzE0RTFCQiIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDo5ODdGMkQ3MEYyM0IxMUUyQkM0QUE1QTZGQzE0RTFCQiI+IDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOjk4N0YyRDZERjIzQjExRTJCQzRBQTVBNkZDMTRFMUJCIiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOjk4N0YyRDZFRjIzQjExRTJCQzRBQTVBNkZDMTRFMUJCIi8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8+bz1gsgAAAIpJREFUeNpi/P//PwMx4JaGkQGQOgDED4DYgZEYjUia+KFCG5nI0AQCD5igkgJQBcRoWqh241wBE0gTVPI8kJ1AhCawGhYgLgBifajEfKAGEH0BnyYQYLypbojNZHSAogkEmIACINMdgPgjsZrAGkEEHs1YNYGdihyP0ADZAMSgAFsACj1cbgcIMAC9akFzpsnfZwAAAABJRU5ErkJggg==',
  $a-color: #212121,
  $a-hover: #888888
) {
  li {
    margin:$li-margin;
    @include bg(
      'data:image/png;base64,#{$li-bgbase64}',
      no-repeat,
      0 50%,
      auto auto
    );
    padding-left:$li-padding;

    a { 
      color:$a-color; 
      &:hover {color:$a-hover} /* color of checkmark */ 
    }
  }
}


/* SUSY: ALPHA
================================================== */
@mixin alpha(){
  float:left;
  margin-right:0;
}

@mixin flush-columns( $n, $d, $float: auto, $clear: false ) {
  width: #{($n/$d)*100%};
  // width: percentage($n, $d);
  float: $float;

  @if $clear == true {
    @include clearfix;
  }
}


/* GRID DYNAMIC
================================================== */
@mixin column-fluid($width:100%,$margin_left:false,$margin_right:false) {
    display:inline;
    float:left;
    width:$width;
    

    @if $width == third  { 
         width:33.333333337%;
        
        @if $margin_right == true and $margin_left == false { 
            width:32.5%;margin-right:1.25%; &:last-of-type {margin-right:0;} 
        }
        @if $margin_left == true and $margin_right == false { 
            width:32.5%;margin-left:1.25%; &:last-of-type {margin-left:0;} 
        }
    }

    @if $width == half  { 
        width:49.5%; 
        
        @if $margin_left == true    { margin-left:1%; &:last-of-type {margin-left:0;} }
        @if $margin_right == true   { margin-right:1%; &:last-of-type {margin-right:0;} }
    }
    
    @if $width == fourth  {  
         width:25%;
        
        @if $margin_right == true and $margin_left == false { 
            width:23.5%;margin-right:2%; &:last-of-type {margin-right:0;} 
        }
        @if $margin_left == true and $margin_right == false { 
            width:23.5%;margin-left:2%; &:last-of-type {margin-left:0;} 
        }
    }
}


/* MP0
================================================== */
@mixin mp0() {
  margin:0;
  padding:0;
}


/* HIDE TEXT
================================================== */
@mixin hide-text() {
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
}


/* PSEUDO-ICON-FONT
================================================== */
@mixin pseudo-icon(
  $location:  after,
  $content:   "u",
  $font:      "arrrows"

) {
  &:#{$location} {
    text-transform:none;
    position:relative;
    line-height:inherit;
    color:inherit;
    content:$content;
    font-family:$font;

    @content;
  }
}


/* FLEXBOX (fauxflex)
================================================== */
@mixin fauxflex-display(){
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

@mixin fauxflex-order( $order:2 ){
  -webkit-box-ordinal-group:$order;   /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-ordinal-group:$order;      /* OLD - Firefox 19- */
  -ms-flex-order:$order;              /* TWEENER - IE 10 */
  -webkit-order:$order;               /* NEW - Chrome */
  order:$order;                       /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

@mixin fauxflex-child( $flex:1 ){
  -webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: 1;         /* OLD - Firefox 19- */
  // width: 20%;               /* For old syntax, otherwise collapses. */
  -webkit-flex: 1;          /* Chrome */
  -ms-flex: 1;              /* IE 10 */
  flex: 1;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */
}


/* TABLE / TABLE CELL
================================================== */
// table
@mixin table($text_align: center){
  display:table;
  text-align:$text_align;
}
  .table {@include table;}

// table-cell  
@mixin table-cell(){
  display:table-cell;
  vertical-align:middle;
}
  .table-cell {@include table-cell;}



/* EMPTY-BUTTON
================================================== */
@mixin button-empty() {
  @include appearance(none);
  outline:0;
  border:0;
  background-color:transparent;
}




/* COVER IMAGE
================================================== */
@mixin cover-image( $padding:50%, $max_width:350, $max_height:350 ) {
  background-position: 50%;
  background-repeat: no-repeat;
  @include background-size(cover);
  // margin: 0 auto 1em;
  max-height: #{max_height}px;
  max-width: #{max_width}px;
  padding:$padding;
}





/* ================================================================ */
/*                                                                  */
/*                             ANIMATION                            */
/*                                                                  */
/* ================================================================ */




/* KEYFRAMES
================================================== */
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content; 
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @-o-keyframes #{$name} {
    @content;
  }  
  @keyframes #{$name} {
    @content;
  } 
}



/* ANIMATION EX:-webkit-animation: name 1s infinite;
================================================== */
@mixin animation( $str ) {
  -webkit-animation: $str;
     -moz-animation: $str;
      -ms-animation: $str;
       -o-animation: $str;
          animation: $str;
}
