// _content.scss

html, body { overflow-x: hidden; }

/**
 * Wrapper
 * Main wrapper element for hiding overflow etc
 */
#wrap {
  overflow-x:hidden;
  
}

/**
 * Content
 * Main content container, after header/hero and before footer
 */
#content {
  
  &.default { 
    
  }

}


/**
 * Section
 */
section {

}
  .section { padding: 50px 0; }
  .section-large { padding: 80px 0; }
  .section-medium { padding: 60px 0; }
  .section-small { padding: 40px 0; }
  .section-xsmall { padding: 20px 0; }




/**
 * Article
 * Article styling for pages/posts
 */
article {
  @include clearfix;

  &.page {

  }

  &.post {
    
  }
}

